workflows/ai-receptionist-inbound.json
{
  "name": "AI Receptionist — Inbound SMS Demo Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call",
        "options": {
          "rawBody": true
        }
      },
      "name": "Post-Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        472
      ],
      "id": "55d13874-da9a-4563-af3a-47f64cba9f9d",
      "webhookId": "{{AUTO_GENERATED_ON_IMPORT}}"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "wf1-gate",
              "leftValue": "={{ $json.body?.variables?.origin || '' }}",
              "rightValue": "workflow1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is WF1 call?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        472
      ],
      "id": "b2c3d4e5-6789-abcd-ef01-234567890abc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ locationId: \"{{GHL_LOCATION_ID}}\", phone: $json.body?.humanPhoneNumber, source: \"{{COMPANY_NAME}} Inbound\" }) }}",
        "options": {}
      },
      "name": "Upsert GHL Contact (inbound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        640
      ],
      "id": "d4e5f6a7-89ab-cdef-0123-456789abcdef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "{{CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "demo-tag",
              "leftValue": "={{ JSON.stringify($('Post-Call Webhook').first().json.body?.tags || []) }}",
              "rightValue": "send_demo_link",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has send_demo_link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        640
      ],
      "id": "e5f6a7b8-9abc-def0-1234-56789abcdef0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const contactId = $('Upsert GHL Contact (inbound)').first().json.contact?.id || $('Upsert GHL Contact (inbound)').first().json.id; const url = \"{{BOOKING_URL}}\"; const msg = `Thanks for calling {{COMPANY_NAME}}! Here's your demo link: ${url}`; return JSON.stringify({ type: \"SMS\", contactId, message: msg }); })() }}",
        "options": {}
      },
      "name": "Send Demo Link SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        544
      ],
      "id": "f6a7b8c9-abcd-ef01-2345-6789abcdef01",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "{{CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://services.leadconnectorhq.com/contacts/\" + ($('Upsert GHL Contact (inbound)').first().json.contact?.id || $('Upsert GHL Contact (inbound)').first().json.id) + \"/tags\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tags: [\"send_demo_link\"] }) }}",
        "options": {}
      },
      "name": "Add send_demo_link tag (inbound)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        544
      ],
      "id": "a7b8c9d0-bcde-f012-3456-789abcdef012",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "{{CREDENTIAL_NAME}}"
        }
      }
    },
    {
      "parameters": {},
      "name": "Exit - no demo link",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        736
      ],
      "id": "b8c9d0e1-cdef-0123-4567-89abcdef0123"
    }
  ],
  "connections": {
    "Post-Call Webhook": {
      "main": [
        [
          {
            "node": "Is WF1 call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is WF1 call?": {
      "main": [
        [],
        [
          {
            "node": "Upsert GHL Contact (inbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert GHL Contact (inbound)": {
      "main": [
        [
          {
            "node": "Has send_demo_link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has send_demo_link?": {
      "main": [
        [
          {
            "node": "Send Demo Link SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Exit - no demo link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Demo Link SMS": {
      "main": [
        [
          {
            "node": "Add send_demo_link tag (inbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
